<h1 style="font-family:verdana"> Welcome to Battle! </h1>
<h2 style="font-family:verdana"> To start a new fight please enter your names below: </h2>

<form action="/names" method="post">
  <label for="player_1" style="font-family:verdana">Player 1:</label><br>
  <input type="text" name="player_1"><br>
  <label for="player_2" style="font-family:verdana">Player 2:</label><br>
  <input type="text" name="player_2"><br>
  <input type="submit" value="Submit">
</form>


